In [0]:
! pip install scikit-plot

Collecting scikit-plot
  Downloading https://files.pythonhosted.org/packages/7c/47/32520e259340c140a4ad27c1b97050dd3254fdc517b1d59974d47037510e/scikit_plot-0.3.7-py3-none-any.whl
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (0.14.0)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (3.1.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (0.21.3)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.6/dist-packages (from scikit-plot) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.4.5)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.17.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.6.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.4.0->scikit-plot) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.0->scikit-plot) (41.6.0)
Installing collected packages: scikit-plot
Successfully installed scikit-plot-0.3.7

In [0]:
from keras.models import Sequential
from keras.layers import Dense
import xgboost as xgb
from sklearn import tree, neighbors, datasets, linear_model, svm, naive_bayes, ensemble
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.model_selection import cross_validate,GridSearchCV
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction import DictVectorizer
from sklearn.utils.multiclass import unique_labels
import scikitplot as skplt
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
import pandas as pd
import lightgbm as lgbm
from sklearn import metrics
from sklearn import model_selection
import warnings
warnings.filterwarnings('ignore')

In [0]:
from google.colab import files
uploaded = files.upload()

Saving test_final.csv to test_final.csv
Saving train_final.csv to train_final.csv

In [0]:
from google.colab import files
uploaded = files.upload()

Saving sample_submission.csv to sample_submission.csv

In [0]:
from google.colab import drive
drive.mount('/content/drive',force_remount = True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
data_dir = '/content/drive/Shared drives/Predictive Competition/recruit-restaurant-visitor-forecasting/'

In [0]:
submission = pd.read_csv(data_dir + 'sample_submission.csv')
submission['air_store_id'] = submission['id'].str.slice(0, 20)
submission['visit_date'] = submission['id'].str.slice(21)
submission['is_test'] = True
submission['visitors'] = np.nan
submission['test_number'] = range(len(submission))

submission.head()

                                id  visitors  ... is_test test_number
0  air_00a91d42b08b08d9_2017-04-23       NaN  ...    True           0
1  air_00a91d42b08b08d9_2017-04-24       NaN  ...    True           1
2  air_00a91d42b08b08d9_2017-04-25       NaN  ...    True           2
3  air_00a91d42b08b08d9_2017-04-26       NaN  ...    True           3
4  air_00a91d42b08b08d9_2017-04-27       NaN  ...    True           4

[5 rows x 6 columns]

In [0]:
train = pd.read_csv(data_dir + "sam_train_final.csv")
test = pd.read_csv(data_dir + "sam_test_final.csv")

In [0]:
train.head()

   Unnamed: 0  Unnamed: 0.1  ... visitors_capped visitors_capped_log1p
0           0             0  ...            35.0              3.583519
1           1             1  ...             9.0              2.302585
2           2             2  ...            20.0              3.044522
3           3             3  ...            25.0              3.258097
4           4             4  ...            29.0              3.401197

[5 rows x 36 columns]

In [0]:
test.head()

   Unnamed: 0  Unnamed: 0.1  ... Weekend summer_yes
0           0             0  ...       1          0
1           1             1  ...       0          0
2           2             2  ...       0          0
3           3             3  ...       0          0
4           4             4  ...       0          0

[5 rows x 32 columns]

In [0]:
# train['visitors_log1p'] = np.log1p(train['visitors_x'])
train.index = train['visit_date']
train = train.drop(columns = ['visit_date', 'Unnamed: 0','Unnamed: 0.1', 'air_store_id', 'reserve_visitors', 'days_diff','geo1','visitors_capped','is_outlier'])
train.head()

            population  density  ... summer_yes  visitors_capped_log1p
visit_date                       ...
2016-01-13         2.7     11.9  ...          0               3.583519
2016-01-14         2.7     11.9  ...          0               2.302585
2016-01-15         2.7     11.9  ...          0               3.044522
2016-01-16         2.7     11.9  ...          0               3.258097
2016-01-18         2.7     11.9  ...          0               3.401197

[5 rows x 27 columns]

In [0]:
test.index = test['visit_date']
test = test.drop(columns = ['visit_date', 'Unnamed: 0','Unnamed: 0.1','air_store_id', 'reserve_visitors', 'days_diff','geo1'])
test.head()

            density  population  ... Weekend  summer_yes
visit_date                       ...
2017-04-23     11.9         2.7  ...       1           0
2017-04-24     11.9         2.7  ...       0           0
2017-04-25     11.9         2.7  ...       0           0
2017-04-26     11.9         2.7  ...       0           0
2017-04-27     11.9         2.7  ...       0           0

[5 rows x 25 columns]

In [0]:
train_x = train.drop(columns = ['visitors_x','visitors_capped_log1p'])
# train_y = train[['visitors_log1p']]
train_y = train[['visitors_capped_log1p']]

In [0]:
len(train_x.columns),len(train_y.columns)

(42, 1)

In [0]:
train_x = pd.get_dummies(train_x, columns=['season', 'day_of_week_y', 'Food_Type'])
test_x = pd.get_dummies(test, columns=['season', 'day_of_week_y', 'Food_Type'])

In [0]:
len(test_x.columns)

42

In [0]:
test_x['season_autumn'] = 0
test_x['season_winter'] = 0
test_x['season_summer'] = 0

In [0]:
train_x.columns

Index(['population', 'density', 'is_holiday', 'next_day', 'prev_day', 'week',
       'daysToPrev25th', 'prev_visitors', 'year', 'month_y', 'Dining_yes',
       'day', 'min_visitors', 'mean_visitors', 'median_visitors',
       'max_visitors', 'count_observations', 'latitude_y', 'longitude_y',
       'Consecutive_holidays', 'Weekend', 'summer_yes', 'is_outlier',
       'visitors_capped', 'visitors_capped_log1p', 'season_autumn',
       'season_spring', 'season_summer', 'season_winter',
       'day_of_week_y_Friday', 'day_of_week_y_Monday',
       'day_of_week_y_Saturday', 'day_of_week_y_Sunday',
       'day_of_week_y_Thursday', 'day_of_week_y_Tuesday',
       'day_of_week_y_Wednesday', 'Food_Type_Asian', 'Food_Type_Bars',
       'Food_Type_Cafe', 'Food_Type_European',
       'Food_Type_International cuisine', 'Food_Type_Izakaya',
       'Food_Type_Japanese', 'Food_Type_Korean', 'Food_Type_Western/Create'],
      dtype='object')

In [0]:
test_x = test_x[['population', 'is_holiday', 'next_day', 'prev_day', 'week',
       'daysToPrev25th', 'prev_visitors', 'year', 'month_y', 'day',
       'min_visitors', 'mean_visitors', 'median_visitors', 'max_visitors',
       'count_observations', 'latitude_y', 'longitude_y',
       'Consecutive_holidays', 'season_autumn', 'season_spring',
       'season_summer', 'season_winter', 'day_of_week_y_Friday',
       'day_of_week_y_Monday', 'day_of_week_y_Saturday',
       'day_of_week_y_Sunday', 'day_of_week_y_Thursday',
       'day_of_week_y_Tuesday', 'day_of_week_y_Wednesday', 'Food_Type_Asian',
       'Food_Type_Bars', 'Food_Type_Cafe', 'Food_Type_European',
       'Food_Type_International cuisine', 'Food_Type_Izakaya',
       'Food_Type_Japanese', 'Food_Type_Korean', 'Food_Type_Western/Create']]

In [0]:
test_x.columns

Index(['population', 'is_holiday', 'next_day', 'prev_day', 'week',
       'daysToPrev25th', 'prev_visitors', 'year', 'month_y', 'day',
       'min_visitors', 'mean_visitors', 'median_visitors', 'max_visitors',
       'count_observations', 'latitude_y', 'longitude_y',
       'Consecutive_holidays', 'season_autumn', 'season_spring',
       'season_summer', 'season_winter', 'day_of_week_y_Friday',
       'day_of_week_y_Monday', 'day_of_week_y_Saturday',
       'day_of_week_y_Sunday', 'day_of_week_y_Thursday',
       'day_of_week_y_Tuesday', 'day_of_week_y_Wednesday', 'Food_Type_Asian',
       'Food_Type_Bars', 'Food_Type_Cafe', 'Food_Type_European',
       'Food_Type_International cuisine', 'Food_Type_Izakaya',
       'Food_Type_Japanese', 'Food_Type_Korean', 'Food_Type_Western/Create'],
      dtype='object')

In [0]:
#LGBM
np.random.seed(42)

model = lgbm.LGBMRegressor(
    objective='regression',
    max_depth=5,
    num_leaves=5 ** 2 - 1,
    learning_rate=0.007,
    n_estimators=30000,
    min_child_samples=80,
    subsample=0.8,
    colsample_bytree=1,
    reg_alpha=0,
    reg_lambda=0,
    random_state=np.random.randint(10e6)
)

n_splits = 8
cv = model_selection.KFold(n_splits=n_splits, shuffle=True, random_state=42)

val_scores = [0] * n_splits

sub = submission['id'].to_frame()
sub['visitors'] = 0

feature_importances = pd.DataFrame(index=train_x.columns)

for i, (fit_idx, val_idx) in enumerate(cv.split(train_x, train_y)):
    
    X_fit = train_x.iloc[fit_idx]
    y_fit = train_y.iloc[fit_idx]
    X_val = train_x.iloc[val_idx]
    y_val = train_y.iloc[val_idx]
    
    model.fit(
        X_fit,
        y_fit,
        eval_set=[(X_fit, y_fit), (X_val, y_val)],
        eval_names=('fit', 'val'),
        eval_metric='l2',
        early_stopping_rounds=200,
        feature_name=X_fit.columns.tolist(),
        verbose=False
    )
    
    val_scores[i] = np.sqrt(model.best_score_['val']['l2'])
    sub['visitors'] += model.predict(test_x, num_iteration=model.best_iteration_)
    feature_importances[i] = model.feature_importances_
    
    print('Fold {} RMSLE: {:.5f}'.format(i+1, val_scores[i]))
    
sub['visitors'] /= n_splits
sub['visitors'] = np.expm1(sub['visitors'])

val_mean = np.mean(val_scores)
val_std = np.std(val_scores)

print('Local RMSLE: {:.5f} (±{:.5f})'.format(val_mean, val_std))

ValueError: ignored

In [0]:
feature_importances.sort_values(0, ascending=False)

                                     0      1      2  ...      5      6      7
prev_visitors                    33487  16564  26615  ...  20890  34392  27587
week                             32048  17712  25184  ...  22975  32059  25204
max_visitors                     25635  14478  21413  ...  16577  24974  20877
mean_visitors                    23467  13446  18287  ...  16083  24472  19790
median_visitors                  22254  13710  17371  ...  14946  20518  17603
count_observations               19178  10186  14743  ...  13372  19285  15086
day                              17556   9427  13284  ...  12635  16371  13230
latitude_y                       17167   8772  14552  ...  11982  16824  13436
longitude_y                      16006   8890  13461  ...  10572  14320  13382
daysToPrev25th                   14643   8362  11613  ...  10134  14761  12345
min_visitors                     13525   8067  11075  ...   9667  13101  11731
is_holiday                        5959   3945   5127  ...   4531   5647   4842
population                        5952   3865   4965  ...   4380   6088   4622
month_y                           5165   3049   4560  ...   3627   4766   4787
year                              4779   2441   3523  ...   3123   4408   3747
Consecutive_holidays              3453   2295   2958  ...   2428   3124   2609
next_day                          3325   2610   3066  ...   3009   3094   3343
Food_Type_Cafe                    3276   2505   3309  ...   2724   3493   3127
season_summer                     2835   1629   2358  ...   1925   2966   2511
prev_day                          2714   2085   2618  ...   2464   2964   2480
Food_Type_Izakaya                 2069   1337   1771  ...   1583   2278   1727
season_spring                     2037   1405   1705  ...   1677   1935   1880
Food_Type_Bars                    2027   1134   1679  ...   1451   2115   1596
day_of_week_y_Sunday              1733    849   1187  ...   1056   1450   1454
day_of_week_y_Saturday            1729   1224   1464  ...   1342   1520   1491
day_of_week_y_Monday              1379    866   1409  ...   1080   1251   1053
Food_Type_Western/Create          1303    669   1105  ...    812   1149   1119
Food_Type_European                1287    649    948  ...    729   1413   1115
season_autumn                     1238    989   1118  ...    970   1579   1136
Food_Type_Japanese                1013    528    889  ...    731    697    741
Food_Type_Korean                   978    517    635  ...    575    738    807
day_of_week_y_Thursday             946    565    576  ...    613    761    774
season_winter                      927    439    734  ...    701    978    661
day_of_week_y_Tuesday              873    471    662  ...    468    853    655
day_of_week_y_Wednesday            741    541    676  ...    673    613    562
Food_Type_Asian                    667    352    404  ...    465    502    558
day_of_week_y_Friday               638    468    623  ...    598    786    768
Food_Type_International cuisine     48      8      8  ...    112      8     64

[38 rows x 8 columns]

In [0]:


from google.colab import drive
drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at drive

In [0]:
sub.to_csv('lgbm_11_29.csv', index = False)
!cp lgbm_11_29.csv drive/My\ Drive/